body {
    font-family: Arial, sans-serif;
    background-color: #1e1e2e;
    color: #cdd6f4;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.screen {
    position: relative;
    width: 100%;
    height: 100%;
}
/*
button, textarea {
    background-color: #313244;
    color: #cdd6f4; /* Ensure this color contrasts with the background *//*
    border: none;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    box-sizing: border-box;
}
*/

button {
    cursor: pointer;
}

textarea {
    resize: none;
    
}

/* Added styles for BEMA elements */
#bema-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.bema-element {
    position: absolute;
    box-sizing: border-box;
    pointer-events: none; /* Disable pointer events by default */
}

.bema-element.listening {
    pointer-events: auto; /* Enable pointer events when listening */
}

/* Ensure images fit within their container */
.bema-element img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Ensure the entire image is visible */
}